---
## First & Corresponding Author

- **Dong F**, Wu J.  
  *PLiCat: Decoding protein–lipid interactions by large language model.*  
  **Briefings in Bioinformatics**, 2025.

## Co-First Author

- **Xie T\***, **Dong F\***, Han G\*, Wu X\*, Liu P, Zhang Z, Zhong J, Niranjanakumari S,  
  Gable K, Gupta SD, Liu W, Harrison PJ, Campopiano DJ, Dunn TM#, Gong X#.  
  *Collaborative regulation of yeast SPT–Orm2 complex by phosphorylation and ceramide.*  
  **Cell Reports**, 2024.

## Co-author

- Xie T\*, Fang Q\*, Zhang Z, Wang Y, **Dong F**, Gong X#.  
  *Structure and mechanism of a eukaryotic ceramide synthase complex.*  
  **The EMBO Journal**, 2023.

- Xie T\*, Liu P\*, Wu X, Yue J, **Dong F**, Zhang Z, Mahawar U, Farooq F,  
  Vohra H, Fang Q, Liu W, Wattenberg BW#, Gong X#.  
  *Ceramide sensing by human SPT–ORMDL complex for establishing sphingolipid homeostasis.*  
  **Nature Communications**, 2023.

- Liu P\*, Xie T\*, Wu X, Han G, Gupta SD, Zhang Z, Yue J, **Dong F**,  
  Gable K, Niranjanakumari S, Li W, Wang L, Liu W, Yao R, Cahoon EB,  
  Dunn TM, Gong X#.  
  *Mechanism of sphingolipid homeostasis revealed by structural analysis of Arabidopsis SPT–ORM1 complex.*  
  **Science Advances**, 2023.

- Li W\*, Wang L\*, Wierbowski BM\*, Lu M, **Dong F**, Liu W, Li S,  
  Wang P, Salic A#, Gong X#.  
  *Structural insights into proteolytic activation of the human Dispatched1 transporter for Hedgehog morphogen release.*  
  **Nature Communications**, 2021.

- Mak HY\*, Ouyang Q\*, Tumanov S\*, Xu J, Rong P, **Dong F**,  
  Lam SM, Wang X, Lukmantara I, Du X, Gao M, Brown AJ, Gong X,  
  Shui G, Stocker R, Huang X, Chen S, Yang H#.  
  *AGPAT2 interaction with CDP-diacylglycerol synthases promotes the flux of fatty acids through the CDP-diacylglycerol pathway.*  
  **Nature Communications**, 2021.

---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



